%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'

#comments
  - if @movie.comments.blank?
    %p= "Be the first to leave a comment about #{@movie.title}"
  - else
    - @movie.comments.each do |comment|
      = render "comments/show", comment: comment

#form_errors

- if user_signed_in?
  = render "comments/form", movie: @movie, comment: @comment
